server.port=4049

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.hibernate.show-sql=true
spring.datasource.url=jdbc:postgresql://<database.host>/<database-name>?ApplicationName=<app-name>
spring.datasource.username=<database-user>
spring.datasource.password=<database-pass>

logging.level.root=INFO
logging.file.name=<log-name>

AUTH.JWT.SECRET=changeme
AUTH.JWT.EXP.MS=86400000

server.servlet.session.cookie.http-only=true
server.servlet.session.cookie.secure=false
cookie.domain.base-url=localhost

thread-pool.clothai-execution.core-pool-size=10
thread-pool.clothai-execution.max-pool-size=50
thread-pool.clothai-execution.queue-capacity=10000
thread-pool.clothai-execution.timeout=3600